[user]
    name = Kevin Tong
    email = logicmd[at]]gmail.com
[http]
    proxy = http://127.0.0.1:8087
    sslVerify = false
[credential]
    helper = winstore
[gui]
    encoding = utf-8
[i18n]
    commitencoding = GB2312
[push]
    default = simple